<div id="<%= dom_id room %>" class="container">  
  <div class="card" style="border: none;" >
    <p>
      <h2><strong><%= room.name %></strong></h2>
      <br>ホスト：<%= room.user.name %>
    </p>
  </div>
</div>
